<!-- get image path -->
{{ $imagePath := .Get "src" }}
{{ $inner := .Inner}}
<!-- image position -->
{{ $positionClass := "" }}
{{ with (index (intersect (slice "center" "left" "right" "float-left" "float-right") (slice (lower (.Get "position")))) 0) }}
  {{ $positionClass = add "img-" . }}
{{ end }}

{{- /* Retrieve Image Resource */ -}}
{{- $image := (partial "functions/get-image.html" (dict "Page" .Page "Destination" (.Get "src"))) -}}

  <!-- begin processing -->
  {{ $imagePostProcess := "" }}
  {{ $imageFallback := $image }}
  {{ if $image }}
    <!-- gif image -->
    {{ if ne $image.MediaType.SubType "gif" }}
    <!-- image processing -->
      {{ if (isset .Params "format") }}
        {{ $options := add (add (string (.Get "w" | default $image.Width)) "x ") (.Get "format") }}
        {{ $imagePostProcess = $image.Resize $options }}
      {{ end }}
      <!-- fallback image -->
      {{ $option := add (string (.Get "w" | default $image.Width)) "x" }}
      {{ $imageFallback = $image.Resize $option }}
    {{ end }}

    <!-- image figure -->
    <figure {{ with $positionClass }}class="{{ . }}"{{ end }}>
      <picture>
        {{ if $imagePostProcess }}
        <source 
          srcset="{{ $imagePostProcess.RelPermalink }}" 
          type="{{ $imagePostProcess.MediaType }}">
        {{ end }}
        <img 
        loading="lazy" 
        decoding="async" 
        {{ with (.Get "corners") }}class="{{ . }}"{{ end }}
        width="{{ $imageFallback.Width }}" 
        height="{{ $imageFallback.Height }}" 
        src="{{ $imageFallback.RelPermalink }}" 
        alt="{{.Get `alt`}}" 
        {{ with .Get "title" }}title="{{ . }}"{{ end }}>
      </picture>
        {{ if or (or (.Get "title") (.Get "caption")) (.Get "attribution") }}
        <figcaption>
          {{ with .Get "title" }}{{ . }}{{ end }}
          {{ if or (.Get "caption") (.Get "attribution") }}
            <p>
            {{ with .Get "caption" }}{{ . }}{{ end }}
            {{ with .Get "attribution" }}
            <br>
              {{ with $.Get "attrlink" }}<a href="{{ . }}">{{ end }}
              {{ . }}
              {{ with $.Get "attrlink" }}</a>{{ end }}
            {{ end }}
            </p>
          {{ end }}
        </figcaption>
        {{ end }}
    </figure>
  {{ end }}